<html lang="en">
  {{> head title='Home Screen' }}
  <body>
    {{> header}}
    <h1>This is screen screen</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>