{{!-- pages/home.hbs --}}

{{#> layouts/base title="Home screen" }}

  {{#*inline "main-block"}}
    <h1 class="home-title">This is home screen</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    </div>
  {{/inline}}
  
{{/layouts/base}}